<div class="text-center container-fluid">
  <div class="jumbotron jumbotron-fluid row mb-0">
    <div class="container">
      <h1 class="text-light text-uppercase display-4">Todo/Pomodoro</h1>
      <p class="text-light font-weight-bold">by Aishcharya "Clennam" Kahandawala</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md border-right py-2">
      <app-timer></app-timer>
    </div>
    <hr class="col-md d-md-none" />
    <div class="col-md border-left py-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>