<div class="card h-100 shadow-highlight"> <!-- vh-fill overflow-auto TODO: add overflow -->
    <div class="card-body">
        <h3 class="card-title text-dark font-weight-bold">To-Do</h3>
        <div class="card-text text-sub">
            <ul class="list-group" *ngFor="let todo of todoListLength|times">
                <app-todo [index]='todo'></app-todo>
            </ul>
            <button class="btn btn-danger rounded-circle my-2" (click)="addTodo()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>