.card {
    background-color: rgba(91, 103, 109, 0.4);
    border-color: #5b676d;
}

.shadow-highlight {
    box-shadow: 0 0.3em 0.12em rgba(0, 0, 0, 0.6);
}

.text-sub {
    color: #2a3439 !important;
}

.vh-fill {
    height: 61.5vh !important;
}