.rounded {
    border-radius: 2em !important;
}

.input-group-prepend > span {
    font-size: 1.5em;
}

.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}

div[id^="tooltip-"] {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
    display: none;
    z-index: 5;

    &[data-show] {
        @extend div, [id^="tooltip-"];
        display: block;
    }
}