<ul class="nav nav-pills nav-fill nav-justified border-bottom pb-2">
    <li class="nav-item" (click)="tabSwitch()">
        <a class="nav-link active" id="pomo-tab" data-toggle="tab" href="#pomo">Pomodoro</a>
    </li>
    <li class="nav-item" (click)="tabSwitch()">
        <a class="nav-link" id="shortbr-tab" data-toggle="tab" href="#shortbreak">Short Break</a>
    </li>
    <li class="nav-item" (click)="tabSwitch()">
        <a class="nav-link" id="longbr-tab" data-toggle="tab" href="#longbreak">Long Break</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pomo">
        <app-timer-widget [duration]="timerConfig.pomodoro"></app-timer-widget>
    </div>
    <div class="tab-pane fade" id="shortbreak">
        <app-timer-widget [duration]="timerConfig.shortBreak"></app-timer-widget>
    </div>
    <div class="tab-pane fade" id="longbreak">
        <app-timer-widget [duration]="timerConfig.longBreak"></app-timer-widget>
    </div>
</div>