<ul class="nav nav-pills nav-fill nav-justified border-bottom pb-2" id="timerTablist" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pomo-tab" data-toggle="tab" href="#pomo" role="tab">Pomodoro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="shortbr-tab" data-toggle="tab" href="#shortbreak" role="tab">Short Break</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="longbr-tab" data-toggle="tab" href="#longbreak" role="tab">Long Break</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="pomo" role="tabpanel">
        <app-timer-widget [duration]="timerConfig.pomodoro" [pauseEnabled]="timerConfig.pauseEnabled"
            [soundsEnabled]="timerConfig.soundsEnabled">
        </app-timer-widget>
    </div>
    <div class="tab-pane fade" id="shortbreak" role="tabpanel">
        <app-timer-widget [duration]="timerConfig.shortBreak" [pauseEnabled]="timerConfig.pauseEnabled"
            [soundsEnabled]="timerConfig.soundsEnabled">
        </app-timer-widget>
    </div>
    <div class="tab-pane fade" id="longbreak" role="tabpanel">
        <app-timer-widget [duration]="timerConfig.longBreak" [pauseEnabled]="timerConfig.pauseEnabled"
            [soundsEnabled]="timerConfig.soundsEnabled">
        </app-timer-widget>
    </div>
    <button type="button" class="btn btn-info mt-1 text-uppercase" data-toggle="modal" data-target="#optionsModal">
        <span>Options </span><i class="fas fa-cog"></i>
    </button>
</div>

<!-- Options Modal -->
<app-timer-options modalId="optionsModal" [timerConfig]="timerConfig" (saveOptions)="updateOptions($event)">
</app-timer-options>