/* Contains custom style rules to override those set by the theme file "_bootswatch.scss" */

.nav-pills .nav-link.active {
    color: #f8f5f0;
    background-color: #cd4631;
}

.text-black {
    color: #000 !important;
}